h1,
h2,
h3,
h4,
h5,
h6 {
	 font-family: 'Roboto', sans-serif;
/*	color: #C41230;
*/}

/**
 * Smooth scrolling inside an element
 */
#my-element {
	scroll-behavior: smooth;
}

/**
 * Smooth scrolling on the whole document
 */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Source Serif Pro', serif;
/*	background-color: #181a1b;
*//*	color: #bcbec0;
*/}

h1 {
	font-family: 'Source Serif Pro', serif;
/*	color: #C41230;
*/}

h1 b {
	color: #C41230;
}


a {
/*	color: #32C6FF;
*/	text-decoration: none;
	font-weight: bold;
}

a:visited {
  	color: #0066FF;
}

#full-col {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	max-width:800px;
	min-width:360px;
}

.petition {
  display: inline-block;
  padding: 0 10px;
  height: 15px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 25px;
  background-color: black;
  text-transform: uppercase;
  font-family: sans-serif;
}

a .petition, .petition a {
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.acct .petition, .petition .acct {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: bold;
  padding: 0 10px;
}

.new {
  display: inline-block;
  padding: 0 10px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  border-radius: 25px;
  background-color: #C41230;
  text-transform: uppercase;
  font-family: sans-serif;
}

a .new, .new a {
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#intro {

}

#quote {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #828384;
}

#bottom {

}

.countup {
  text-align: center;
/*  margin-bottom: 20px;
*/}

.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
  margin-bottom: 20px; 
}

.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #C41230;
  color: white;
}

button{
  border-radius: 10px 10px 10px 10px;
  background: #C41230;
  color: white;
  display: inline-block;
  padding: 10px;
  min-width: 2.6rem;
  margin-bottom: 20px; 
  text-align: center;
  border-style: none;
}

button:hover {
    cursor: pointer;
}

.acct li {
  padding-bottom: 1em;
}

.acct li:before { 
  content: '\2753'; 
  margin-left: -20px; 
  margin-right: 5px; 
} 

.acct li.completed:before  { 
  content: '\2705'; 
  margin-left: -20px; 
  margin-right: 5px; 
} 

.acct li.kinda:before  { 
  content: '\1F7E8'; 
  margin-left: -20px; 
  margin-right: 5px; 
} 